# Зависимости и пакеты
node_modules/
venv/
env/
__pycache__/
*.py[cod]
*$py.class
bin/
obj/

# Системные файлы и ОС
.DS_Store
Thumbs.db
*.log

# Среды разработки и IDE
.vscode/
.idea/
*.suo
*.user

# Docker и базы данных (временные файлы и данные томов)
.env
.env.local
postgres_data/
